[submodule "ArduinoTx/lib/L3G4200D"]
	path = ArduinoTx/lib/L3G4200D
	url = git@github.com:jarzebski/Arduino-L3G4200D.git
[submodule "ArduinoTx/lib/ADXL345"]
	path = ArduinoTx/lib/ADXL345
	url = git@github.com:jarzebski/Arduino-ADXL345.git
[submodule "ArduinoTx/lib/HMC5883L"]
	path = ArduinoTx/lib/HMC5883L
	url = git@github.com:jarzebski/Arduino-HMC5883L.git
[submodule "ArduinoTx/lib/BMP185"]
	path = ArduinoTx/lib/BMP185
	url = git@github.com:jarzebski/Arduino-BMP085-BMP180.git
